# Dependencies
node_modules

# Environment variables
.env

# Build folders
dist
build

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Coverage
coverage

# Redis dump
dump.rdb